.recurringSection {
    /* border: 2px solid red; */
    text-align: center;
    padding: 2rem 0;
}

/* Title */
.title {
    font-size: 2rem;
    font-weight: bold;
    color: #14532d;
    margin-bottom: 2rem;
}

/* Options Container */
.optionsContainer {
    /* border: 2px solid blue; */
    background-image: url('../../../../public/banner.png');
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;
    max-width: 1600px;
    padding: 2rem;
    background-repeat: no-repeat;
}

/* Individual Card */
.optionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 200px;
    height: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.optionCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 128, 0, 0.3);
}

/* Icon */
.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

/* Arrow */
.arrow {
    font-size: 2rem;
    color: #14532d; /* Green arrow color */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem; /* Space between arrow and cards */
}

/* Option Card Text Container */
.cardText {
    display: flex;
    flex-direction: column; /* Arrange title and discount vertically */
    align-items: center;
    margin-top: 0.5rem;
    text-align: center; /* Center-align the text */
}

/* Option Title */
.optionTitle {
    font-weight: bold;
    font-size: 0.9rem; /* Slightly smaller font size for title */
    font-weight: 500; /* Medium weight for title */
    color: #14532d;
    margin-bottom: 0.3rem; /* Add spacing between title and discount */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

/* Discount */
.discount {
    font-size: 0.8rem; /* Slightly smaller font size for discount */
    font-weight: bold; /* Bold weight for emphasis */
    color: black; /* Green color for discount text */
    margin-top: 0.2rem; /* Add spacing above the discount */
}