/* Main Container */
.privacyContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem;
    text-align: center;
  }
  
  /* Header Styles */
  .header {
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #14532d;
    text-align: center;
  }
  
  /* Content Section */
  .content {
    text-align: left;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
  }
  
  .content p {
    margin-bottom: 1rem;
  }
  
  