.giftCardsSection {
    padding: 3rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .heading {
    font-size: 2.5rem;
    color: #14532d;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .subHeading {
    font-size: 2rem;
    color: #14532d;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-weight: bold;
    text-align: left;
    margin-left: 12rem;
    width: 20rem;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: #4b5563;
    max-width: 600px;
  }
  
  .imageContainer {
    flex: 1;
    text-align: center;
    max-width: 500px;
    margin-top: 1rem;

  }
  
  .image {
    width: 90%;
    height: auto;
    margin-left: -80px;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    margin-top:-80px;
  }
  

   /* Square Background */
   .squareBackground {
    position: absolute;
    top: 9rem;
    right: 9rem;
    width: 370px;
    height: 350px;
    background-color:#fff;
    border-width: 12px;
    border-color: #cad3bb;
    z-index: 2;
  }
  
  .container {
    text-align: center;
    padding: 2rem;
   
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 1.5rem;
  }
  
  .amountRow {
    background-color: #cad3bb;
    width: 1000px;
    height: 60px;
    margin-left: 5.98rem;
  }
  
  .amount {
    text-align: right;
    margin-right: 30px;
  }

  .dropdown {
    width: 200px;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 7px;
  }
  
  .cardSection {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .backgroundImage {
    position: relative;
    background-image: url("/giftcardbg.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formOverlay {
    padding: 2rem;
    border-radius: 8px;
    max-width: 100%;
    width: 900px;
   
  }
  
  .row {
    display: flex;
    gap: 5rem;
    margin-bottom: 1rem;
  }
  
  .input {
    flex: 1;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100px;
    resize: none;
    margin-bottom: 1rem;
  }
  
  .note {
    font-size: 1rem;
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

  }

  .recaptcha {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    margin-top: 2rem;
    border: 1px;
    border-color: black;
    margin-left: 45%;
  }
  
  .purchaseButton {
    background-color: #2e7d32;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    margin-top: 1rem;
  }
  
  .purchaseButton:hover {
    background-color: #256927;
  }
  
  .finalPrice {
    font-size: 1rem;
    color: #2e7d32;
    font-weight: bold;
    margin-top: 1.5rem
  }
  
  